In [1]:
import pandas as pd

# Load your dataset (use the correct path or URL)
url = "https://raw.githubusercontent.com/mwaskom/seaborn-data/master/titanic.csv"
df = pd.read_csv(url)

# Check the shape of the dataset (rows, columns)
print("Dataset shape (rows, columns):", df.shape)

# Check the columns in the dataset
print("\nAll columns in the dataset:")
print(df.columns)

# Describe the dataset to analyze only the numeric columns
print("\nDescription of numeric columns:")
print(df.describe())

# Check for missing values in the dataset
print("\nMissing values in each column:")
print(df.isna().sum())

# Get the count of numeric columns (automatically filtered in df.describe())
print("\nColumns analyzed by df.describe():")
print(df.describe().columns)

Dataset shape (rows, columns): (891, 15)

All columns in the dataset:
Index(['survived', 'pclass', 'sex', 'age', 'sibsp', 'parch', 'fare',
       'embarked', 'class', 'who', 'adult_male', 'deck', 'embark_town',
       'alive', 'alone'],
      dtype='object')

Description of numeric columns:
         survived      pclass         age       sibsp       parch        fare
count  891.000000  891.000000  714.000000  891.000000  891.000000  891.000000
mean     0.383838    2.308642   29.699118    0.523008    0.381594   32.204208
std      0.486592    0.836071   14.526497    1.102743    0.806057   49.693429
min      0.000000    1.000000    0.420000    0.000000    0.000000    0.000000
25%      0.000000    2.000000   20.125000    0.000000    0.000000    7.910400
50%      0.000000    3.000000   28.000000    0.000000    0.000000   14.454200
75%      1.000000    3.000000   38.000000    1.000000    0.000000   31.000000
max      1.000000    3.000000   80.000000    8.000000    6.000000  512.329200

Missing values in each column:
survived         0
pclass           0
sex              0
age            177
sibsp            0
parch            0
fare             0
embarked         2
class            0
who              0
adult_male       0
deck           688
embark_town      2
alive            0
alone            0
dtype: int64

Columns analyzed by df.describe():
Index(['survived', 'pclass', 'age', 'sibsp', 'parch', 'fare'], dtype='object')

Transcript with Chatgpt--https://chatgpt.com/c/66df5132-814c-800a-9b2b-6bd14e08e2bd